*,*::before,*::after{
box-sizing: border-box;

}
body {
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0%;
    padding: 0%;
    
  }
  .navbar{
    background-color: transparent;
    padding: 0 !important;
  }
  .navbar.colorChange{
    background-color: #cc884c;
    padding: 0% !important;
    height: 10%; 
    margin-top: 5%;
  }

  .navbar1{
    background-color:#362526 ;
    padding: 0 !important;
  }
  .navbar1.colorChange{
    background-color: #cc884c;
    padding: 0% !important;
    height: 10%; 
    margin-top: 5%;
  }

  #navbar1{
    background-color:#362526 ;
    padding: 0 !important;
  }
  #navbar1.colorChange{
    background-color: #cc884c;
    padding: 0% !important;
    height: 10%; 
    margin-top: 5%;
  }



  .fixed-top {
    position: fixed;
    top: -70px !important;
    right: 0;
    left: 0;
    z-index: 1030;
}


/* .text1{
    position: absolute;
    margin-top: -46%;
    margin-left: -17%;
    font-size: 100px;
    color: white;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
} */
.logo{
    display: block;
    width: 188px;
    height: 184px;
}
.logo.logoChange{
    display: none;
  }
.dogs-img{
    width: 100%;
    height: 100vh;

}
  .nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 23px;
}
.nav-link {
    padding-right: 6.5rem;
    padding-left: .5rem;
}
.histoire{
    margin-top: 11% !important;
}
.img-hist{
    height: 80%;

}
.titre-txt{
    font-size: 56px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
}
.hist-txt{
    font-size: 20px;
    color: #787878;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    padding: 8rem;
    
}

#more {display: none;}
/* .logo-hr{
    width: 100px;
    height: 100px;
} */
.srve{
   
    height: 401px;
    width: 375px;
    margin-left: 10%;

}
.sr1{
    padding-top: 25%;
    margin-left: 33%;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Mefrriweather', serif ;
    color: #787878;
}
.sr1:hover{
    color: #f6ab4a;
}
.sr2{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Merriweather', serif ;
    color: #787878;
    padding-top: 22%;
}

.sr2:hover{
    color: #f6ab4a;
}
/* .srvs span:first-of-type{
    height: 5px;
    width: 20%;
    background-color: red;
}

.f{
    width: 100px;
    height: 100px;
} */
.ic-sr{
    background-color: #f6ab4a;
    border-radius:50%;
}


   
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
  }

 .img-cr{
    width: 200px;
    height: 200px;
    padding-top: 5%;
    
 }

 .cr-bg{
   background-image: url('./images/bg.jpg');
   background-repeat: no-repeat;   
   background-position:center ;
   height: 100%;

 }
 .crl{

    margin-top: 5%;
height: 139px;
    width: 270px;
    box-shadow:
  0 11.4px 3.6px rgba(0, 0, 0, 0.243),
  0 21.7px 10px rgba(0, 0, 0, 0.251),
  0 33.9px 24.1px rgba(0, 0, 0, 0.252),
  0 100px 80px rgba(0, 0, 0, 0.25)
;

 }
 .card1{
     width: 100%;
 }
.card-txt{
    color: #f7f3e7;
    font-size: 15px;
font-weight: bolder;
    font-family: 'Merriweather', serif ;
}
 /* .card1:hover{
    background-color: #f6ab4a;
 } */
 .temo{
     margin-top: 0%;
 }
 
 
 .text-cr{
     padding-top: 100px;
     color: white;

 }
.model{
    width: 218px;
    height: 240px;
    margin-top: 18%;

}
.model:hover{
    opacity: 0.3;
    
}

 .footer{
     background-color:#362526;
     
 }
.f-link{
    margin-top: 53%;
 
}
.f-map{
    margin-top: 28%;
}
.f-icone{
    margin-top: 12%;
    color: #e7e7e7;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.foot-x{

    color: #f6ab4a;
    margin-top: 21%;
    margin-left: 5%;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}


.foot-xt{
    color: #f6ab4a;
    margin-top: 13%;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;    
}
.foot-p{
    color: #f6ab4a;
    margin-top: 20%;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.f-txt{
    color:#e7e7e7;
    margin-top: 15%;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    width: 100%;
}
.foot-txt{
    color: #f6ab4a;
    margin-top: 20%;
    margin-left: 20%;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    
}

.tbn{
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #e7e7e7;
    margin-top: 9%;
    border-radius: 30px;
    width: 100%;
    background-color: #f6ab4a;;
}
.ipt{
    border-radius: 30px;
    width: 100%;
    background-color: transparent;
    border:solid;
    border-color: wheat;

}
#i-login{
    color: white;
    margin-left: -80%;
    margin-top: 25%;
}
#f-f{
    margin-top: 14%;
}
ion-icon{
    color:  #f6ab4a;
    font-size: 27px;
}
.mail{
    margin-top: -30px;
    margin-bottom: 1rem;
    margin-left: 12%;
}
.video{
    filter: brightness(40%);
    z-index: -1;
}
.text1{
    margin-top: -36%;
    position: absolute;
    font-size: 40px;
    color: #f6ab4a;
    font-weight:bold;
    font-family: 'Merriweather', serif ;
    margin-left: 23%;
    text-align: center;
     
   
}
.buton{
    font-size: 25px;
    color: white;
    font-weight:bolder;
    font-family: 'Merriweather', serif ;
    background-color:#362526 ;
    border-radius: 15px;
    text-align: center;
    margin-top: 5%;

}
.buton:hover{
    background-color:#f6ab4a ;
}


.dash{
    background-color: #362526;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight:bold;
    font-family: 'Merriweather', serif ;
}
.nav-pills .nav-link.active{
    background-color: #362526 !important;
    margin-top: 5%;
}
.btn-primary{
    background-color: #362526 !important;
    border-color: #f6ab4a !important;
    margin-left: 20%;
    margin-top: 5%;
    
}

.side{
    background-color:#f6ab4a;
    height: 100%;
    position: fixed;
    width: 20%;
}
.section{
    margin-top: 15%;
    margin-bottom: 10%;
}
.forme{
    background-color: #f6ab4a;
}
.contact{    
    font-size: 45px;
    color: #f6ab4a;
    font-weight:bolder;
    font-family: 'Merriweather', serif ;
    text-align: center;
}
.texte{
    font-size: 20px;
    color: #787878;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.forme1{
    margin-top: 8%;
}
.tt1{
    font-size: 35px;
    color: #787878;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
#submit-bbt{

    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    background-color: #362526;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}
#submit-bbt:hover{
    background-color:#787878;
}
.Nservice{
    margin-top: 10%;
    font-size: 56px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    text-align: center;
}
.gga{
    margin-top: 15%;
}
.p-dressage{
    text-align: center;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 9%;

}
.dressage-btn{
    margin-left: 33%;
    font-size: 22px;
    color: white;
    font-weight:bolder;
    font-family: 'Merriweather', serif ;
    background-color:#362526 ;
    border-radius: 15px;
    text-align: center;
 
}
.dressage-btn:hover{
    background-color:#f6ab4a ;
}
.p-foyer{
    text-align: center;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 9%;

}
.p-race{
    text-align: center;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 9%;
}
.bg-dressage{
    background-image: url("../src/images/dres.png");
    background-position: center;
    background-repeat: no-repeat;
     background-size: 100% 83%;
       
}
.t-dressage{
    font-size: 56px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;   
    text-align: center;
    margin-top: 10%;
    
}
.hist-txt1{
    font-size: 15px;
    color: wheat;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    padding: 8rem;
}
.d-Entraineur{
    font-size: 56px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    text-align: center ;
}
.card-dres{
    background-color: transparent  !important;
}
.dr-bg{
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;   
    background-position:center ;
    height: 100%;
 
  }
  .img-niche{
    width: 255px !important;
    height: 200px;
    margin-top: 2% !important;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  }
  .dr-coach{
    font-size: 20px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    text-align: center ;
    margin-top: 2%;
  }
  .bg-race{
    background-image: url("../src/images/bg-race.png");
    background-position: center;
    background-repeat: no-repeat;
     background-size: 100% 83%;
       
}
.hist-txt2{
    font-size: 15px;
    color:#362526 ;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    padding: 8rem;
    background-color: #f6ab4a;
    border-radius: 50%;
    text-align: center;
}
.bg-foyer{
    background-image: url("../src/images/bg-foyer1.png");
    background-position: center;
    background-repeat: no-repeat;
     background-size: 100% 83%;
       
}




.hist-txt3{
    font-size: 15px;
    color:#f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    padding: 8rem;
    border :solid;
    border-color: #362526;
    border-radius: 50%;
    
}
.txt-get{
    background-color: whitesmoke;
    font-size: 15px;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    
}
.supprimer{
    width: 50px;
    height: 40px;
    margin-top: 40%;
    margin-left: 180%;
}
.btn-supp{
    border: none;
    background-color: transparent;
}
/* .txt-get-user{
    background-color: whitesmoke;
    font-size: 15px;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    text-align: center;
    padding: 5%;
} */
.profil{
    background-color:#362526 ;
    font-weight: bold;
    border: solid;
    border-color: #cc884c;
    border-radius: 10%;
    color: wheat;
    text-align: center;
    width: 35%;
    margin-left: 30%;
}

.bg-conx{
    background-image: url("../src/images/contt11.png");
    background-position: center;
    background-repeat: no-repeat;
     background-size: 100% 130%;
           
}
.btn-conct{
    margin-top: 11%;
    margin-right: 64%;
}
.btn-regist{
    
    margin-top: 71%;
    margin-left: -319%;

}
.connextion-title{
    margin-top: 13% !important;
    font-size: 50px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif  ;
    font-weight: bold;
    text-align: center 
}
.img-regsitre{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}
.get-chien{
    margin-top: 5% !important;
    background-color:#362526 ;
    font-weight: bold;
    color: wheat;
    text-align: center;

}
.txt-chien{
    margin-top: 5% !important;

}
.btn-modal{
    background-color: #362526 !important;
    border-color: #f6ab4a !important;
    margin-left: 40%;
    margin-top: -15%;
}
.d-foyer{
    font-size: 56px;
    color: #f6ab4a;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;

}
@media (max-width: 880px) {

.text1{
    font-size: 10px;
    text-align: center;
    margin-left: 5%;
}
}
